/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body {
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
  margin: 0;
  padding: 36px 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

input[name='search-text'] {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  padding: 8px 16px;

  border: 1px solid #808080;
  border-radius: 4px;

  outline: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[name='search-text']:hover {
  border: 1px solid #000000;
}

input[name='search-text']:focus {
  border: 1px solid #4e75ff;
}

button[type='submit'] {
  display: inline-flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button[type='submit']:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1128px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  box-sizing: border-box;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 4px 0 8px 0;
}

.info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.33;
}

.info b {
  font-weight: 600;
  font-size: 12px;
  color: #2e2f42;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
}

.loader-container.is-hidden {
  display: none;
}

.loader {
  display: block;
  position: relative;
  height: 20px;
  width: 140px;
  background-image:
    linear-gradient(#e0e0e0 20px, transparent 0),
    linear-gradient(#e0e0e0 20px, transparent 0),
    linear-gradient(#e0e0e0 20px, transparent 0),
    linear-gradient(#e0e0e0 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position:
    0 0,
    40px 0,
    80px 0,
    120px 0;
  animation: pgfill 1s linear infinite;
}

@keyframes pgfill {
  0% {
    background-image:
      linear-gradient(#e0e0e0 20px, transparent 0),
      linear-gradient(#e0e0e0 20px, transparent 0),
      linear-gradient(#e0e0e0 20px, transparent 0),
      linear-gradient(#e0e0e0 20px, transparent 0);
  }
  25% {
    background-image:
      linear-gradient(#4e75ff 20px, transparent 0),
      linear-gradient(#e0e0e0 20px, transparent 0),
      linear-gradient(#e0e0e0 20px, transparent 0),
      linear-gradient(#e0e0e0 20px, transparent 0);
  }
  50% {
    background-image:
      linear-gradient(#4e75ff 20px, transparent 0),
      linear-gradient(#4e75ff 20px, transparent 0),
      linear-gradient(#e0e0e0 20px, transparent 0),
      linear-gradient(#e0e0e0 20px, transparent 0);
  }
  75% {
    background-image:
      linear-gradient(#4e75ff 20px, transparent 0),
      linear-gradient(#4e75ff 20px, transparent 0),
      linear-gradient(#4e75ff 20px, transparent 0),
      linear-gradient(#e0e0e0 20px, transparent 0);
  }
  100% {
    background-image:
      linear-gradient(#4e75ff 20px, transparent 0),
      linear-gradient(#4e75ff 20px, transparent 0),
      linear-gradient(#4e75ff 20px, transparent 0),
      linear-gradient(#4e75ff 20px, transparent 0);
  }
}

.loader-text {
  margin-top: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
